
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a1a;
}

.c-card {
  width: 800px;
  height: 100vh;
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid black;
  background-color: #2C2F33;
}

.c-header button {
  border: none;
  background-color: #2C2F33;
  cursor: pointer;
}

.c-chat {
  height: calc(100vh - 129px);
  overflow-y: scroll;
  scrollbar-color: #7289DA #2C2F33;
  scrollbar-track-color: #23272A;
  background-color: #23272A;
}
.c-chat::-webkit-scrollbar {
  width: 10px;
  background: #23272A;
}
.c-chat::-webkit-scrollbar-thumb {
  background: #394048;
}
.c-chat::-webkit-scrollbar-thumb:hover {
  background: #393999;
}

.c-chat .c-text_box {
  display: flex;
  padding: 8px 0;
}

.c-content {
  background-color: #23272A;
  padding: 0 0 1em 1em;
}

.c-image {
  margin-right:1em;
}
.c-image img {
  width: 50px;
  border-radius: 50%;
}

.c-box {
  display: flex;
  flex-direction: column;
}

.c-name-box {
  display: flex;
  gap: 8px;
  align-items: center;
}
.c-name-box .c-name {
  font-size: 1em;
  font-weight: 700;
}
.c-name-box .c-createdAt {
  font-size: 0.8em;
  color: #999;
}

.c-box .c-text {
  font-size: 1.2em;  
}

.c-form {
  display: flex;
  margin-right: 1em;
  border-radius: 8px;
  overflow: hidden;
  background-color: #2C2F33;
}

.c-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  outline: none;
}
.c-form button {
  width: 20%;
  padding: 10px;
  border: none;
 
  background-color: #272a2d;
  color: white;
}
.c-form button:hover {
  background-color: #2C2F33;
  cursor: pointer;
}

.c-login button {
  font-size: 1em;
  padding: 1em;
  background-color: #97A9B4;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.c-login button:hover {
  background-color: #8B9AA5;
}

@media screen and (max-width: 800px) {
  .c-card {
    width: 100vw;
  }
}